
<div class="modal fade code-editor-modal" id="modal-default" #insertCodeModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Default Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select #selectCodeLanguage class="selectCodeLanguage" style="width: 100%;">
          <option selected="selected" >Please select a language</option>
          <option value="java">Java</option>
          <option value="javascript">JavaScript</option>
          <option value="html">HTML</option>
          <option value="css">CSS</option>
          <option value="typescript">TypeScript</option>
          <option value="yaml">YAML</option>
        </select>
        <br>
        <textarea class="code-content" style="width: 100%; height: 30vh" [(ngModel)]="codeContent"></textarea>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="insertCode()">Insert code</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

